.class
.jar
.metadata
.project
.settings/
.classpath
.recommenders
RemoteSystemsTempFiles
!.keep
*~
\#*\#
.idea
bin/
gen/
local.properties
*.dex
*.apk
*.ap_
*.iml
Thumbs.db
.DS_Store
*.log
*.swp
*.bak
